/* Sets the color to the element's color property value. However,
 if set as the value of color, currentColor is treated as inherit.*/
h1 {
  /* margin: 0; */
  /* display: inline; */
  color: blue;
  border: 1.5px solid currentColor;
  text-decoration-line: underline;
  text-decoration-color: currentColor;
  text-decoration-thickness: 1.5px;
}
span {
  color: currentColor; /*here currentColor is treated as inherits for span-element
  in-fact no need to mention currentColor, span automatically inherits its parent color as text-color*/
}

/*alternative away to apply transparency rather than rgba*/
p {
  color: transparent;
  /*color: rgba(255, 0, 0, 0);*/
}
